@model TaskPro.Data.Entidades.Proyecto
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/ModalLayout.cshtml";
}

<div class=" col-md-12">
    <div class=" card">
        <div class=" card-header text-center">
            <h5> Editar Proyecto</h5>
        </div>
        <div class=" card-body">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id"/>
                <input type="hidden" asp-for="Tareas" />
                <input type="hidden" asp-for="Usuario" />

                <div class="form-group">
                    <label></label>
                    <input asp-for="Nombre" class="form-control" placeholder="Nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <br />
                    <label>Seleccione la fecha de inicio : </label>
                    <input asp-for="Inicio" class="form-control" type="date" />
                    <span asp-validation-for="Inicio" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <br />
                    <label>Seleccione la fecha de finalización : </label>
                    <input asp-for="Final" class="form-control" type="date" />
                    <span asp-validation-for="Final" class="text-danger"></span>
                </div>

                <div class=" card-footer ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success"><i class="oi oi-check"></i> Guardar</button>
                        <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal"><i class="oi oi-ban"></i> Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


